@{
    Layout = "_Layout";
}
@section SidebarSection{
   
}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Images/11.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Images/12.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Images/13.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>